@model IEnumerable<FinalEx.Models.Schedule>

@{
    ViewData["Title"] = "Index";
    ViewData["css"] = "Posts/Index.css";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="my-4">Schedules</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Author
            </th>
            <th>
                Category
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <img width="200px" class="img-fluid img-thumbnail" src="@item.Image" alt="Post Image" />
                </td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fas fa-info-circle"></i> Details
                    </a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fas fa-trash-alt"></i> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
